*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --base: #555;
    --base-100:#f1f1f1;
    --base-800:#000;
    --yellow:#ffda4b;
    --yellow-50:#fffdf5;
    --yellow-100:#fffbe6;
    --yellow-800:#8b6f00;
    --blue:#0a61ae;
    --blue-100:#e2f8ff;
    --blue-400:#61dafb;
    --blue-800:#0a61a2;
    --blue-900:#001b3b;
}
.coming-soon-regular {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
}
.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.edu-au-vic-wa-nt-guides {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-style: normal;
  }

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a{
    text-decoration: none;
    color: var(--blue);
    &:hover{
        text-decoration: underline;
    }
}
li{
    list-style-type: none;
}
li .contact-btn{
    border-radius: 12px;
    background-color: var(--blue-800);
    color: white;
    font-weight: 800;
}
/* header section  */
header{
    padding: 4px 20px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    text-transform: capitalize;
    /* animation  */
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.3s; /* Delay for the header */
    @media (max-width:860px) {
        padding: 10px 20px;
        display: block;
    }
    .logo-holder{
        display: flex;
        padding: 0px;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);
        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: var(--base-800);
            height: 64px;
            width: 64px;
            border-radius: 50%;
            margin-right: 20px;
            color: var(--base-100);
        }
        .logo-text{
            flex: 1;
            font-size: 28px;
        }
        @media (max-width:480px) {
            .logo{
                height: 56px;
                width: 56px;
                font-size: 26px;
                margin-right: 10px;
            }
            .logo-text{
                font-size: 18px;
            }
            .logo-holder{
                padding: 0;
            }
        }
    }

    nav{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            font-size: 24px;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);
                    &:hover{
                        background-color: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            } 
        }
        .mobile-toggle{
            display: none;
            color: var(--base-800);
            padding: 10px;
            transition: 1s ease; 
            @media (max-width:860px)  {
                display: inline-block;
                position: absolute;
                top: 22px;
                right: 25px;
                .logo-holder{
                    padding: 0;
                }
            }
            @media (max-width:700px)  {
                right: 10px;
            }
            @media (max-width:480px) {
                top: 14px;
            }
        }
        
    }
    @media (max-width:860px) {
        flex-direction: column;
        align-items: center;
        nav{
            margin: auto;
            width: 100%;
            ul{
                flex-direction: column;
                text-align: center;
                width: 100%;
                display: none;
                font-size: large;
                a{
                    width: 100%;
                }
                &.active{
                    transition:all 1s;
                    display: flex;
                } 
            }

        }
    }
    @media (max-width:1000px) { 
        li{
            font-size: 20px;
        } 
        
     } 
    @media only screen and (max-width:480px) {
        header{
            padding:4px 10px;
        }
        .logo{
            height: 56px;
            width: 56px;
            font-size: 26px;
            margin-right: 10px;
        }
    }
}
/* hero section  */
.hero-section{
    position: relative;
    height: 75vh;
    max-width: 1440px;
    margin: auto;
    display: flex;
    padding: 60px;
    gap: 40px;
    /* animation  */
    opacity: 0;
    animation: fadeIn 1.5s forwards .5s;
    @media (max-width:1000px){
        .hero-section{
            padding: 40px;
            gap: 30px;
        }
    }
    @media (max-width:860px) {
        flex-direction: column-reverse;
        height: auto;
    }
    @media (max-width:425px) {
        padding: 40px 28px  ;
    }
    .container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        height: 100%;
        width: 100%;
        /* background-color: var(--yellow-50); */
    }
    .circle {
        position: absolute;
        bottom: auto;
        left: auto;
        right: 0;
        top: 0;
        height: 500px;
        width: 500px;
        transform: translate(-30%, 20%);
        border-radius: 50%;
        background-color: var(--blue-400);
        opacity: 0.4;
        filter: blur(80px);
        @media (max-width:1200px) {
            height: 400px;
            width: 400px;
        transform: translate(0%, 20%);
        }
    }
    .description{
        width: 100%;
        margin: auto;
        line-height: 1.5;
        padding-left: 48px;
        /* animation  */
        opacity: 0;
        animation: slideIn 1s forwards 1.2s;
        @media (max-width:1000px) {
            padding-left: 12px;
        }
        @media  (max-width:860px) {
            text-align: center;
            padding-left: 0;
            max-width: 600px;
        }
        @media (max-width:860px) {
            animation: slideUp 1s forwards 1.5s;
        }
        .greeting{
            font-size: xx-large;
            font-family: sans-serif;
            font-weight: 600;
            display: block;
            @media  (max-width:1000px) {
                font-size: x-large;
            }
            @media  (max-width:860px) {
                display: inline-block;
            }
        }
        .my-name{
            font-size: 46px;
            font-family: Protest Strike , cursive;
            color: var(--blue-800);
            @media (max-width:1000px) {
                font-size: 38px;
            }
            @media  (max-width:860px) {
                display: inline-block;
            }
            @media (max-width:425px) {
                font-size: 32px;
            }
        }
        .short-description{
            font-size: larger;
            font-family: cursive;
            letter-spacing: 1.5px;  
        }
        button, .btn-2{
            font-size: larger;
            padding: 12px 32px;
            border-radius: 6px;
            background: white;
            font-weight: 600;
            font-family: sans-serif;
            margin: 42px 12px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            &:hover{
                background-color: var(--blue-800);
                border: 2px solid black;
                transform: scale(1.05);
                .resume{
                        color: var(--base-100);
                        text-decoration: none;
                }
            }
            @media (max-width:1000px) {
                margin-top:32px ;
            }
            @media (max-width:425px) {
                font-size: 16px;
                padding: 8px 18px;
                margin: 24px 4px;
            }
        }
        .btn-2{
            background: var(--blue-800);
            &:hover{
                border: 2px solid var(--blue-800);
                background-color: var(--base-100);
                transform: scale(1.05);
                .projects{
                        color: var(--blue-800);
                        text-decoration: none;
                }
            }
            .projects{
                color: var(--base-100);
            }
        }
        .social-media{
            display: flex;
            margin-top: 16px;
            margin-left: 12px;
            max-width: 480px;
            gap: 16%;
            a{
                opacity: 0;
                animation: fadeIn 1s forwards 2s;
                transition: transform 0.3s;
            }
            
            .linkedin,.github,.instagram{
                .custom-icon {
                    color: #ffffff;
                    fill: currentColor;
                    background-color: var(--blue-800);
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    padding: 4px;
                    &:hover{
                        background-color: var(--base-100);
                        color: var(--blue-800);
                        border: 2px solid var(--blue-800);
                        transition: all .3s ;
                        transform: scale(1.2);
                    }
                }
                .dark .custom-icon {
                    color: var(--base-100);
                }
            }
            @media (max-width:1000px) {
                margin-top: 0;
                margin-left: 6px;
            }
            @media  (max-width:860px) {
                margin: auto;
                justify-content: center;
            }
        }
        
    } 
    .my-photo{
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        /* animation:  */
        opacity: 0;
        animation: fadeIn 1.5s forwards 2.1s ;
        @media (max-width:860px) {
        animation: fadeIn 1.5s forwards .8s ;
            
        }
        
        .avatar{
            width: 265px;
            height: 300px;
            border: 2px solid black;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: var(--base-100);
            z-index: -4;
            border: 2px solid black;
            .style-frame{
                position: absolute;
                width: 500px;
                height: 100px;
                background-color: var(--blue-800);
                z-index: -2;
                rotate: -44deg;
                /* opacity: 0; */
                animation:roll 2.5s ease 2s ;
                @media (max-width:860px) {
                    animation: roll 2.5s ease .8s;
                }
            }
            }
            img{
                width: 90%;
                height: 90%;
                border: 2px solid black;
                /* rotate: 1deg; */
                scale: 1;
                object-fit: fill;
                /* animation:  */
                opacity: 0;
                animation: fadeIn 1s forwards 2.1s;
                @media (max-width:860px) {
                animation: fadeIn 1s forwards 1s;
                    
                }
            }
        }
        @media (max-width:860px) {
        animation: fadeIn 1.5s forwards .8s ;
            
        }
    }
/* Scroll Button */
.scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue-400);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0;
    animation: flicker 1.2s infinite 5s;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;

    span {
        font-size: 20px;
    }
    @media (max-width:425px) {
        padding:10px 12px ;
    }
}
/* media queries for hero section */
@media only screen and (min-width: 1444px) {
    .hero-section{
        padding: 20px 60px;
        height: 700px;
    }
}

/* Animation Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes roll {
    0%{
        opacity: 0;
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}
/* Flicker Animation */
@keyframes flicker {
    0% {
        opacity: .8;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: .8;
    }
}

.about-me{
    width: 100%;
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 32px;
    /* color: var(--blue-800); */
    font-family: Edu AU VIC WA NT Guides,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;

    /* //typing animation */
    #typed-text {
        font-size: 1.2rem;
        border-right: 2px solid black;
        width: fit-content;
        white-space: nowrap;
        overflow: hidden;
        font-size: x-large;
        font-family: "Protest Strike", sans-serif;
        color: var(--blue-800);
        margin-bottom: 16px;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 100%;
        }
    }
    @keyframes blink-caret {
        from, to {
        border-color: transparent;
        }
        50% {
        border-color: black;
        }
    }
    #typed-text {
        animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    }

    p{
        padding: 0 16px;
        line-height: 1.5;
        letter-spacing: .5px;
    }
}

.about-me.visible {
    opacity: 1; 
    transform: translateY(0); 
}


.scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue-400);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0;
    animation: flicker 1.2s infinite 5s;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;

    span {
        font-size: 20px;
    }

    @media (max-width: 425px) {
        padding: 10px 12px;
    }
}

.scroll-down:active {
    animation: clickAnimation 0.3s; /* Trigger animation on click */
}

@keyframes clickAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.1); /* Scale up */
    }
    100% {
        transform: translateX(-50%) scale(1); /* Scale back to original */
    }
}
#scrollDownBtn.hide {
    display: none; /* or visibility: hidden; */
}
